@import "../vars";
main {
  background-color: #fff8e3;
  padding-bottom: 10px;
  .main {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;

    .content {
      height: 40%;
      width: 90%;
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-template-rows: 1fr 1fr;
      grid-gap: 5px;
      article {
        background-color: #feeab9;
        text-align: center;
        padding-top: 10px;
      }
      #more3 {
        grid-area: 2/1/3/3;
      }
    }
  }
}
